.main {
    max-width: var(--basic-maxwidth);
    margin: 0 auto;    
    padding-left: 25px;
    padding-right: 25px;
}

.plWrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.playground {
    width: 100%;
}

.gameInfoWrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gameWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.controls {
    padding-left: 25px;
}

.additional {
    width: 100%;
}

.info {
    cursor: default;
    margin-top: 50px;
    margin-bottom: 90px;
    width: 100%;

    p {
        margin: 1em 0;
        color: #6e7c8c;
    }

    h2 {
        margin: 0.83em 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.31;
    }
}

@media (max-width: 1070px) {
    .controls {
        width: 30vw;
    }
}

@media (max-width: 770px) {
    .plWrapper {
        grid-template-columns: 1fr;
    }

    .controls {
        width: 40vw;
    }
}

@media (max-width: 750px) {
    .gameWrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .controls {
        padding-left: 0;
        width: calc(calc(var(--cell-min-width) + 8px) * 9);
    }
}

@media (max-width: 550px) {
    .main {
        padding-left: 13px;
        padding-right: 13px;
    }

    .cell {
        min-width: calc(var(--cell-min-width) + 5px);
        min-height: calc(var(--cell-min-height) + 5px);
    }
}

@media (max-width: 500px) {
    .main {
        padding-left: 13px;
        padding-right: 13px;
    }

    .controls {
        padding-left: 0;
        width: calc(calc(var(--cell-min-width) + 8px) * 8);
    }
}

@media (max-width: 450px) {
    .gameInfoWrapper {
        p {
            font-size: 10pt!important;
        }

        div {
            margin-right: 13px;
        }

        div:last-child {
            margin-right: 0px;
        }
    }

    .main {
        padding-left: 13px;
        padding-right: 13px;
    }

    .controls {
        padding-left: 0;
        width: calc(calc(var(--cell-min-width) + 8px) * 6.5);
    }
}

@media (max-width: 400px) {
    .main {
        padding-left: 12px;
        padding-right: 12px;
    }

    .controls {
        padding-left: 0;
        width: calc(calc(var(--cell-min-width) + 8px) * 6);
    }
}

@media (max-width: 350px) {
    .main {
        padding-left: 12px;
        padding-right: 12px;
    }

    .controls {
        padding-left: 0;
        width: calc(calc(var(--cell-min-width) + 8px) * 5.5);
    }
}