.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12.5pt;
    font-weight: bold;
    color: var(--light-settings-color);
}

.title {
    margin-right: 10px;
}