.wrapper {
    z-index: 100;
    position: absolute;
    top: 130%;
    left: -15px;
    height: fit-content;
    
    // change to global vars
    
    min-width: calc(100% + 30px);
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 5px 20px 0 #00000033;
    transition: opacity .4s ease;
}