body[data-theme='light'] {
    .control span {
        color: var(--basic-numpad-color);
    }
}

body[data-theme='dark'] {
    .control span {
        color: var(--basic-numpad-color-dark);
    }
}

.ngButton {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.controls {
    margin-top: 14px;
    margin-bottom: 10px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 57px));


    justify-content: space-between;
    align-items: center;
}

.control {
    width: 57px;
    height: 78px;

    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 5px;

    svg {
        cursor: pointer;
        color: var(--basic-numpad-color);
        padding: 15px;
        padding-bottom: 14px;
        background-color: var(--basic-backgr-color);
        transition: background-color .3s ease;
        &:hover {
            background-color: var(--basic-backgr-color-selected);
        }
        border-radius: 50%;
    }

    span {
        margin-top: 5px;
        font-size: 10pt;
        user-select: none;
        color: var(--basic-numpad-color);
    }
}

.disable {
    .control {
        pointer-events: none;
    }

    svg, span {
        color: var(--light-settings-color)!important;
    } 
}

.ctrlstatus {
    min-width: 22px;
    max-height: 15px;

    margin-top: 0px;
    padding: 5px;

    position: absolute;
    top: -10px;
    right: -10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white!important;
    font-size: 8pt!important;
    font-weight: bold;

    border-radius: 4rem;
}

.ctrldisable {
    background-color: #adb6c2;
}

.ctrlactive {
    background-color: #0072e3;
}

.svgactive {
    img, svg {
        padding: 12.6px;
        border: 2px solid #0072e3;
    }
}

@media (max-width: 1070px) {    
    .controls {
        margin-bottom: 25px;
    }
}

@media (max-width: 976px) {
    .ngButton {
        display: none;
    }
}