body, p {
    margin: 0;
    padding: 0;
}

a, ul, li, button {
    text-decoration: none;
}

// General constants

$basic-border-radius: .2rem;
$basic-font-size: 14pt;

:root {
    --basic-maxwidth: 1070px;
    --basic-border-radius: .2rem;
    --basic-font-size: 14pt;
    --basic-font-bold: bold;

    --basic-backgr-color: #eaeef4;
    --basic-backgr-color-selected: #dce3ed;
    --basic-numpad-color: #0072e3;

    --cell-min-width: 45px;
    --cell-min-height: 45px;

    --cell-selected-color: #bbdefb;
    --cell-marked-color: #e2ebf3;
    --cell-number-color: #344861;
    --cell-selected-numbers-color: #c3d7ea;

    --cell-user-numpad-select: #0072e3;

    --solved-border-radius: .8rem;
    --solved-background: #0072e3 radial-gradient(circle at 50% 0,#82ffff,#0072e3 53%);
}

// Light theme

$light-button-color: grey;
$light-button-hover-color: #f1f1f1;

// Dark theme

$dark-font-color: #e0e0e0;

$dark-button-color: #e0e0e0;
$dark-button-hover-color: #484848;

$dark-background-color: #151515;
$dark-border-color: white;
$dark-header-color: #313131;

// Mixins

@mixin basic() {
    a {
        border-radius: $basic-border-radius;
    }
}

@mixin light_scheme() {
    a {
        color: $light-button-color;
    }

    a:hover {
        background-color: $light-button-hover-color;
    }
}

@mixin dark_scheme() {
    background-color: $dark-background-color;
    color: $dark-font-color;

    header {
        background-color: $dark-header-color;
        img {
            filter: invert(.7);
        }
    }
    
    a {
        color: $dark-button-color;
    }

    a:hover {
        background-color: $dark-button-hover-color;
    }

    border-color: $dark-border-color;
}

body {
    @include basic();
}

body[data-theme='light'] {
    @include light_scheme();
}

body[data-theme='dark'] {
    @include dark_scheme();
}

