body, p {
    margin: 0;
    padding: 0;
}

a, ul, li, button {
    text-decoration: none;
}

// General constants

$basic-border-radius: .2rem;
$basic-font-size: 14pt;

:root {
    --basic-maxwidth: 1070px;
    --basic-border-radius: .3rem;

    --basic-font-size: 14pt;
    --basic-font-bold: bold;

    --small-font-size: 10pt;

    --basic-backgr-color: #eaeef4;
    --basic-backgr-color-selected: #dce3ed;
    --basic-backgr-selected-dark: #d9d9d9;
    --basic-numpad-color: #0072e3;

    --light-settings-color: #94a3b7;

    --lighter-color: #7e8b99;

    --cell-min-width: 45px;
    --cell-min-height: 45px;
    

    --cell-selected-color: #bbdefb;
    --cell-selected-color-dark: #000000;

    --cell-marked-color: #e2ebf3;
    --cell-number-color: #344861;

    --cell-selected-numbers-color: #c3d7ea;
    --cell-selected-num-color-dark: #000000;

    --cell-user-numpad-select: #0072e3;

    --cell-background-ligth: white;
    --cell-background-dark: #f3f6fa;

    --basic-numpad-color-dark: #e0e0e0;

    --solved-border-radius: .8rem;
    --solved-background: #0072e3 radial-gradient(circle at 50% 0,#82ffff,#0072e3 53%);

    --diff-select-color: #f3f6fa;
}

// Light theme

$light-button-color: #6e7c8c;
$light-button-hover-color: #f1f1f1;

// Dark theme

$dark-font-color: #e0e0e0;

$dark-button-color: #e0e0e0;
$dark-button-hover-color: #484848;

$dark-background-color: #151515;
$dark-border-color: white;
$dark-header-color: #313131;

// Mixins

@mixin basic() {
    a {
        font-weight: 550;
        border-radius: $basic-border-radius;
        transition: background-color .2s ease;
    }
    
    button {
        transition: background-color .2s ease;
    }
}

@mixin light_scheme() {
    a {
        color: $light-button-color;
    }

    a:hover {
        background-color: $light-button-hover-color;
    }
}

@mixin dark_scheme() {
    background-color: $dark-background-color;
    color: $dark-font-color;

    header {
        background-color: $dark-header-color;
        img {
            filter: invert(.7);
        }
    }
    
    a {
        color: $dark-button-color;
    }

    a:hover {
        background-color: $dark-button-hover-color;
    }

    border-color: $dark-border-color;
}

body {
    @include basic();
}

body[data-theme='light'] {
    @include light_scheme();
}

body[data-theme='dark'] {
    @include dark_scheme();
}

