body[data-theme='dark'] {
    .cell {
        background-color: var(--cell-background-dark);
    }
}

.wrapper {
    border-top: 2px solid #242424;
    border-left: 2px solid #242424;
    max-width: fit-content;
    position: relative;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: var(--cell-min-width);
    min-height: var(--cell-min-height);

    border-right: 1px solid #becee2;
    border-bottom: 1px solid #becee2;

    font-size: 25pt;
    color: var(--cell-number-color);
    user-select: none;
    
    &:last-child {
        border-right: none;
    }
}

.selected {
    background-color: var(--cell-selected-color);
}

.marked {
    background-color: var(--cell-marked-color);
}

.error {
    background-color: var(--cell-error-color);
}

.matches {
    background-color: var(--cell-selected-numbers-color);
}

.selectedByUser {
    color: var(--cell-user-numpad-select);
}

.rowWrapper {
    display: flex;
}

.borderBottom {
    border-color: #344861!important;
    border-bottom: 1px solid;
}

.borderRight {
    border-right: 2px solid;
}

.value {
    pointer-events: none;
}

.marks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
    justify-content: center;
    
    p {
        color: #6e7c8c;
        font-size: 9pt;
    }


}

body[data-theme='dark'] {
    .cell {
        color: black;
        border-color: rgb(72, 72, 72);
    }

    .borderBottom {
        border-color: black;
    }
    
    .borderRight {
        border-color: black;
    }

    .marks {
        p {
            color: black;
        }
    }
}

@media (max-width: 1070px) {
    .cell {
        min-width: calc(var(--cell-min-width) - 0px);
        min-height: calc(var(--cell-min-height) - 0px);
    }
}

@media (max-width: 976px) {
    .cell {
        min-width: calc(var(--cell-min-width) - 7px);
        min-height: calc(var(--cell-min-height) - 7px);
    }
}

@media (max-width: 770px) {
    .cell {
        min-width: calc(var(--cell-min-width) - 5px);
        min-height: calc(var(--cell-min-height) - 5px);
    }
}

@media (max-width: 750px) {
    .cell {
        min-width: calc(var(--cell-min-width) + 8px);
        min-height: calc(var(--cell-min-height) + 8px);
    }
}

@media (max-width: 550px) {
    .cell {
        min-width: calc(var(--cell-min-width) + 6.5px);
        min-height: calc(var(--cell-min-height) + 6.5px);
    }
}