.wrapper {
    max-width: fit-content;
}

.selected {
    background-color: var(--cell-selected-color);
}

.marked {
    background-color: var(--cell-marked-color);
}

.matches {
    background-color: var(--cell-selected-numbers-color);
}

.error {
    background-color: var(--cell-error-color);
}

.selectedByUser {
    color: var(--cell-user-numpad-select)!important;
}