body[data-theme='light'] {
    .field {
        color: var(--basic-numpad-color);
    }
}

body[data-theme='dark'] {
    .field {
        color: black;
        background-color: var(--cell-background-dark);
        &:hover {
            background-color: var(--basic-backgr-selected-dark);
        }
    }
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.field {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 90px;
    min-height: 82px;

    border-radius: var(--basic-border-radius);
    background-color: var(--basic-backgr-color);

    font-size: 27pt;
    user-select: none;
    
    color: var(--basic-numpad-color);

    transition: background-color .3s ease;
    
    &:hover {
        background-color: var(--basic-backgr-color-selected);
    }
}

.disable {
    .field {
        pointer-events: none;
        color: var(--light-settings-color)!important;
    }
}

@media (max-width: 1070px) {
    .control {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .field {
        min-width: auto;
        min-height: 77px;
    }
}

@media (max-width: 770px) {
    .control {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .field {
        min-width: auto;
        min-height: 82px;
    }
}

@media (max-width: 750px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: none;

        .field {
            font-size: 60pt;
            background-color: transparent;
        }
    }
}